<?xml version='1.0'?>
<core>
	<channel           name='test'>
		<operator  name="operator1" />
		<operator  name="operator2" />
		<moderator name="moderator" />
		<module    name='main module' 
				id="1" 
				access="safe" 
				config="path_to_module_config" 
			/>
	</channel>
	<channel name='test2'>
		<operator  name="operator1" />
		<operator  name="operator2" />
		<moderator name="moderator" />
		<module    name='main module' 
				id="1" 
				access="safe" 
				config="path_to_module_config" 
			/>
	</channel>
	<personal>
		<module    name="main module" 
				id="1" 
				access="all" 
				config="path_to_module_config" 
			/>
	</personal>
	<command>
		<module    name="main module"
				id="1"
				access="all"
				config="path_to_module_config" 
			/>
	</command>
	<default>
		<module    name="birthday"
				id="2"
				access="safe"
				config="path_to_module_config" 
			/>
		<module    name="greetings"
				id="3"
				access="safe"
				config="path_to_module_config" 
			/>
		<module    name="filter"
				id="4"
				access="safe"
				config="path_to_module_config" 
			/>
	</default>
</core>
